{% extends "layout.html" %}

<!-- prevent editor auto formatting from messing up the code -->

{% block content %}

<h5>Delete item ({{item.name}})</h5>


{% if logged_in and user_id == item.user_id %}
<!---->
<form method="POST">
  <p>Are you sure you hope to delete it?</p>

  <br>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    Yes, do it
  </button>

  <a href="{{url_for('OneItem', category_name=item.category_name, item_name=item.name)}}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Cancel</a>
</form>

<!---->
{% else %}
<p class="error ">
  You need to log in and the creator of an item to delete it.
</p>
{% endif %}

<!---->
{% endblock %}
