{% extends "layout.html" %}
<!-- prevent editor auto formatting from messing up the code -->
{% block content %}

<div class="content-with-sidebar">
  <aside class="category-list">
    <h5>Categories</h5>

    <ul class="catalog-list">
      {% for category in categories %}
      <li><a href="{{url_for('categoryItems', category_name=category.name)}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
  </aside>

  <div class="details">
    {% block detailcontent %}
    <!-- prevent editor auto formatting from messing up the code -->
    {% endblock %}
  </div>
</div>

<!-- prevent editor auto formatting from messing up the code -->
{% endblock %}
